

@import "vars";
* {
  box-sizing: border-box;
  border: 1px none green
}
html {

}

body {
  font-family: "Poppins",sans-serif;
  margin: 0px;
  padding: 0;
}
a{text-decoration: none;
  transition:color 0.5s}
.title {
  letter-spacing: 0.5rem;
text-decoration: none;
  font-weight: bolder;
  color:white;
}

.title:hover{
  color: #FFB68C;
}


.grid-container {
  display:grid;
  grid-template-rows: 10vh 1fr 10vh;
  grid-template-areas: "header"
  "main"
  "footer";
}
header{;
box-shadow: 1px 1px 5px black;width: 100vw}
nav {
  font-size:2rem;
  display: flex;
  padding: 0 0 0 2rem;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
header, footer {
  background-color: $bg1;
  color:$color1
}

footer {
  @include flex
}

button {cursor: pointer}
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main {
  flex:3 60%;
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.sidebar {
  position: relative;
  flex: 1 30%;
  margin-left: 2rem;
  padding: 1rem;
}
.products {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  column-gap: 1.2rem;
  row-gap: 1.5rem;
  list-style: none;
}
.product-row {
  width: 32%;
  text-align: center;
  @include bgtransition
}
.product-row:hover {
  background-color: #DADBDD  ;
}
.product-row img {
  width:100%;
  height:auto;
}

.product-row a {
  color:black;
}
.product-row p:nth-child(2){
  font-weight: bolder;
  font-size:1.1rem
  ;padding: 0;
  height: 2em;
@include bgtransition}

.product-row p:nth-child(3) {
color: midnightblue  ;
}

.product-row button{
  width: 100%;
  padding: 1rem;
  background-color: #9B27C6  ;
  color: white;
  font-size:1.2rem;
  font-family: "Poppins";
 @include bgtransition;
  border: none;

}

.product-row button:hover {
background-color: #DAB2CD   ;
  color: black;
}

.filters {
  padding:1.0rem 0;
  border-bottom: 1px solid darkgoldenrod ;
  @include flexrow;
  margin-bottom: 1rem;
}

select,option {margin-left: 0.4rem;
  padding: 0.5rem;
  border-style: solid;
}
.mainCart {
  *{border-radius: 10px;border-style: none;outline: none}

  top:1rem;
  position: sticky;
  height: 70vh;overflow: auto;
}
strong{
  display: block;
  margin: 0.5rem 0;
  padding: 1rem;
  text-align: center;
  background-color: #DAB2CD ;
}
.cartList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 1.0rem;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
}

.cartItem {
  @include flexrow;
  margin: 0;
  background-color: #DADBDD     ;
  padding: 1rem;
}
.itemCount {
  font-size: 0.8rem;
  @include flexrow
}

.itemCount > div {
  @include flexrow;
  width: 30%;
}
.itemCount button {
font-weight: bold;
  border-radius:50%;
  height: 1.5rem;
  width:    1.5rem;
;
}

.itemCount {
  font-weight: bold;
  button:first-child:hover{background-color: greenyellow}
  button:nth-child(2):hover{background-color: orange}

  button:last-child:hover{background-color: red}

}

.checkoutbtn {
  text-align: center;
  width: 100%;
font-family: Poppins;
  line-height: 3rem;
  font-size: 1rem;
  background-color: #93CD83 ;
  @include bgtransition;
  font-weight: bold;
}

.checkoutbtn:hover {
  background-color: #499F32 ;
  color: white;
}

.customerInfo {
width: 100%;  margin-top: 1rem;
  @include flex;
  flex-direction: column;
  row-gap: 0.5rem;
  * {font-family: Poppins;
    width:100%;
    padding:1rem;
    border:1px gray solid;
  }
}

.cartList2{
  display: flex;
  flex-direction: row;
}

.checkoutCont > div {
  width:40%
}

.cartItemRight {
  width:20%;
  img {
    width:100%;
    height:auto
  }
}
.cartItemLeft{
  width:70%
}

.nav {margin: 0;padding:0;
  font-size:0.6em;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
* {transition: background-color 0.5s;
  background-color: #340F31  ;
  color: white;

width: 12rem;
  text-align: center;
  height: 100%;
  @include flex
}
  *:first-child {margin-right: 0.5px};
  *:hover,.active{
    background-color: #DDBAF2 ;
    color: #340F31;
}
}

.title {width: 15%; display: flex;justify-content: start;align-items: center;

  img {width: 100%;height: auto;}}

.mainc {
  @include flex;
}

.cont {
  @include flex;flex-direction: column;
  background-color: white;
  width: 40%;
  opacity: 0.85;
  padding: 2rem;
  border-radius: 15px;
  h1 {font-size: 3rem;margin-top: 0}
  p{
    text-align: justify;
  }
}

#contact .cont {
  input,textarea {
    border: 1px  solid blueviolet;
    padding: 1rem;
  }
  input[type=submit] {background-color: #340F31;color:white}
  * {
    width: 100%;
  }
  row-gap: 2rem;
}