$bg1:#55CBD3;
$color1:white;
$colorhover:#FFB68C ;
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;

}

@mixin bgtransition {
  transition: background-color 0.5s, color 0.5s;

}