

@import "vars.scss";
* {
  box-sizing: border-box;
  border: 2px solid green
}

html {

}

body {
  font-family: "Poppins",sans-serif;
  margin: 0px;
  padding: 0;
}

a {
  color:white;
text-decoration: none;
transition:color 0.5s}

a:hover{
  color: $colorhover;
}


.grid-container {

  display:grid;
  grid-template-rows: 15vh 1fr 15vh;
  grid-template-areas: "header"
  "main"
  "footer";
}
header {
  font-size:3rem;
  display: flex;
  align-items: center;
}
header, footer {
  background-color: $bg1;
  color:$color1
}

footer {
  @include flex
}

